/*
0 - 600px: phone
600 - 900px: tablet portrait
900 - 1200px: tablet landscape
1200 - 1800px: normal style applies, desktop first approach
1800px + : big desktop
*/
/*
Breakpoints arguments:
- phone
- tab-port
- tab-land
- big desktop
*/
@-webkit-keyframes move_in_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes move_in_right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes move_in_left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes move_in_left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes move_up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes move_up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 56.5%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 2rem;
  -webkit-animation: move_in_right 700ms 100ms ease-in-out;
          animation: move_in_right 700ms 100ms ease-in-out;
}

.heading-primary-sub {
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 1rem;
  -webkit-animation: move_in_left 700ms 100ms ease-in-out;
          animation: move_in_left 700ms 100ms ease-in-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.heading-secondary:hover {
  -webkit-transform: skewY(-2deg) skewX(4deg) scale(1.1);
          transform: skewY(-2deg) skewX(4deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  color: #777;
  border-radius: 10rem;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.btn-animated {
  -webkit-animation: move_up 700ms 700ms ease-in-out;
          animation: move_up 700ms 700ms ease-in-out;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-white {
  background-color: #f7f7f7;
  padding: 1rem;
  margin-top: 4rem;
}

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  font-size: 1.6rem;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.btn-text:hover {
  color: #f7f7f7;
  background-color: #55c57a;
  border-radius: 3px;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  outline-offset: 2rem;
}

.composition__photo-p1 {
  left: 0;
  top: 0rem;
}

.composition__photo-p2 {
  right: 0;
  top: 7rem;
}

.composition__photo-p3 {
  left: 20%;
  top: 14rem;
}

.composition__photo:hover {
  outline: 1.5rem solid #55c57a;
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
  z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.feature-box {
  background-color: rgba(247, 247, 247, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.feature-box:hover {
  -webkit-transform: translateY(-1rem) translateX(-0.5rem) scale(1.05);
          transform: translateY(-1rem) translateX(-0.5rem) scale(1.05);
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}

.card__side {
  position: absolute;
  font-size: 2rem;
  left: 0;
  top: 0;
  height: 50rem;
  width: 100%;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: white;
}

.card__side--back {
  background-color: green;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730));
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card__side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card__side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa));
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card__picture {
  height: 23rem;
  background-size: cover;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../img/nat-5.jpg);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}

.card__picture--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485)), url(../img/nat-6.jpg);
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
}

.card__picture--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url(../img/nat-7.jpg);
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}

.card__heading {
  position: absolute;
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: white;
  top: 12rem;
  right: 2rem;
  width: 75%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card__heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.85)), to(rgba(40, 180, 133, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}

.card__heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}

.card__details {
  padding: 1rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card__price-box {
  text-align: center;
  color: white;
  margin-bottom: 4rem;
}

.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  margin-bottom: 5rem;
  font-size: 1.6rem;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

.story > * {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.story__shape {
  position: relative;
  width: 15rem;
  height: 15rem;
  background-color: orangered;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-3rem) skewX(12deg);
          transform: translateX(-3rem) skewX(12deg);
}

.story__img {
  height: 100%;
  -webkit-transform: translateX(-3rem) scale(1.4);
          transform: translateX(-3rem) scale(1.4);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  color: white;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.story:hover .story__caption {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.story:hover .story__img {
  -webkit-transform: translateX(-3rem) scale(1.1);
          transform: translateX(-3rem) scale(1.1);
  -webkit-filter: blur(3px) brightness(80%);
          filter: blur(3px) brightness(80%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__group {
  margin-bottom: 1rem;
}

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  color: inherit;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}

.form__input::-webkit-input-placeholder {
  color: #777;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.form__radio-group {
  width: 45%;
  display: inline-block;
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
}

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem;
}

.form__radio-button::after {
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(40, 180, 133, 0.8)), to(rgba(126, 213, 111, 0.4))), url(../img/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.4)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* clip-path: polygon(x y, x y, x y); */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  left: 4rem;
  top: 4rem;
}

.header__logo-box img {
  height: 4rem;
}

.header__text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row .col-1-of-2 {
  width: calc((100% - 4rem) / 2);
  float: left;
}

.row .col-1-of-2:not(:last-child) {
  margin-right: 4rem;
  margin-bottom: 2rem;
}

.row .col-1-of-3 {
  width: 30%;
  float: left;
}

.row .col-1-of-3:not(:last-child) {
  margin-right: 4rem;
  margin-bottom: 2rem;
}

.row .col-1-of-4 {
  width: 22%;
  float: left;
}

.row .col-1-of-4:not(:last-child) {
  margin-right: 4rem;
  margin-bottom: 2rem;
}

.section-about {
  background-color: #f7f7f7;
  padding: 30rem 0;
  margin-top: -15rem;
}

.section-features {
  padding: 30rem 0;
  max-height: 95vh;
  margin-top: -15rem;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(40, 180, 133, 0.8)), to(rgba(126, 213, 111, 0.4))), url(../img/nat-4.jpg);
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.4)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  /* clip-path: polygon(x y, x y, x y); */
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -15rem;
}

.section-tours .row {
  margin-top: 8rem;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
}

.section-book {
  padding: 15rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(40, 180, 133, 0.8)), to(rgba(126, 213, 111, 0.4)));
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.8), rgba(126, 213, 111, 0.4));
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 55%, transparent 50%), url(/img/nat-10.jpg);
  background-size: cover;
  height: 50rem;
  border-radius: 3px;
  -webkit-box-shadow: 0rem 1.5rem 4rem;
          box-shadow: 0rem 1.5rem 4rem;
}

.book__form {
  width: 50%;
  padding: 6rem;
}
/*# sourceMappingURL=main.css.map */