.btn {
  &:link, &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem;
    color: #777;
    border-radius: 10rem;
    transition: all 200ms;
  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($black, 0.2);
  }
  
  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 0.1rem rgba($black, 0.2);
  }
  &-animated {
    animation: move_up 700ms 700ms ease-in-out;
    animation-fill-mode: backwards;
  }
  &-white {
    background-color: #fff;
    padding: 1rem;
    margin-top: 4rem;
  }
}

