.section-about {
  background-color: $color-grey-light-1;
  padding: 20rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  max-height: 95vh;
  margin-top: -20vh;
  background-color: $color-grey-light-1;
  background-image: 
    linear-gradient(to right bottom, rgba($color-primary-dark, 0.8), rgba($color-primary-light, 0.4)), 
    url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  /* clip-path: polygon(x y, x y, x y); */
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 20rem 0;
  margin-top: -20vh;
}

.section-stories {
  background-color: $color-grey-light-1;
  padding: 20rem 0;
  margin-top: -20vh;
}

